{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login / Signup</title>
    <link rel="stylesheet" href="{% static 'courses/css/stylee.css' %}">
</head>
<body>

<div class="cont">
    <!-- SIGN IN FORM -->
    <div class="form sign-in">
        <h2>Welcome Back</h2>
        <form method="POST" action="{% url 'users:login' %}">
            {% csrf_token %}
            <label>
                <span>Email</span>
                {{ form.email }}
            </label>
            <label>
                <span>Password</span>
                {{ form.password }}
            </label>
            <p class="forgot-pass">Forgot password?</p>
            <button type="submit" class="submit">Sign In</button>
        </form>

        <div class="social-login">
            <button class="google-btn" onclick="window.location.href='{% url 'social:begin' 'google-oauth2' %}'">
                <img src="https://img.icons8.com/color/16/000000/google-logo.png"/>
                Login with Google
            </button>

            <button class="github-btn" onclick="window.location.href='{% url "social:begin" "github" %}'">
                <img src="https://img.icons8.com/ios-glyphs/16/000000/github.png"/>
                Login with GitHub
            </button>

        </div>
    </div>

    <!-- RIGHT SIDE SWITCH PANEL -->
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <a href="{% url 'courses:index' %}">Home</a>
                <h3>Don't have an account? Please Sign up!</h3>
            </div>
            <div class="img__text m--in">
                <a href="{% url 'courses:index' %}">Home</a>
                <h3>If you already have an account, just sign in.</h3>
            </div>
            <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
            </div>
        </div>

        <!-- SIGN UP FORM -->
        <div class="form sign-up">
            <h2>Create your Account</h2>
            <form method="POST" action="{% url 'users:register' %}">
                {% csrf_token %}
                <label>
                    <span>Username</span>
                    {{ form.username }}
                </label>
                <label>
                    <span>Email</span>
                    {{ form.email }}
                </label>
                <label>
                    <span>Password</span>
                    {{ form.password }}
                </label>
                <button type="submit" class="submit">Sign Up</button>
            </form>


            <div class="social-login">
                <button class="google-btn" onclick="window.location.href='{% url 'social:begin' 'google-oauth2' %}'">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png"/>
                    Login with Google
                </button>

                <button class="github-btn" onclick="window.location.href='{% url "social:begin" "github" %}'">
                    <img src="https://img.icons8.com/ios-glyphs/16/000000/github.png"/>
                    Login with GitHub
                </button>

            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.img__btn').addEventListener('click', function () {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>

</body>
</html>
